<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>New <%= @address.title %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="back" data-direction="reverse">
      Cancel
    </a>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :create %>">
      <input type="hidden" name="id" value="<%= @address.object %>"/>

      
          <div data-role="fieldcontain">
            <label for="address[name]" class="fieldLabel">Name</label>
            <input type="text" id="address[name]" name="address[name]" <%= placeholder("Name") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="address[email]" class="fieldLabel">Email</label>
            <input type="text" id="address[email]" name="address[email]" <%= placeholder("Email") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="address[address]" class="fieldLabel">Address</label>
            <input type="text" id="address[address]" name="address[address]" <%= placeholder("Address") %> />
          </div>
      

      <input type="submit" value="Create"/>
    </form>
  </div>

</div>
